<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBHy7KLY6lORsqdezNyBIwUFfo0mdjW7pA</string>
	<key>GCM_SENDER_ID</key>
	<string>353105233475</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.physiognomy.app.aiPhysiognomy</string>
	<key>PROJECT_ID</key>
	<string>eggo123</string>
	<key>STORAGE_BUCKET</key>
	<string>eggo123.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:353105233475:ios:9649e88f8f323bcb4676f6</string>
</dict>
</plist>